[Unit]
Description=OpenStack %I API Service

[Service]
ExecStart=/usr/bin/uwsgi_python37 --die-on-term --enable-threads --master --thunder-lock /etc/uwsgi.d/%I.ini
Group=%I
KillSignal=SIGTERM
StateDirectory=%I
User=%I
WorkingDirectory=/etc/%I

[Install]
WantedBy=multi-user.target
